<template>
    <div class="flex items-center text-grey-darkest cursor-pointer hover:text-red">
        <button class="btn btn-primary" @click="createFile"> Create a file</button>
        <button class="btn btn-success" @click="createDirectory"> Create a directory</button>
        <div class="ml-2 text-danger my-4">{{ message }}</div>
        <hr>
        <button class="btn btn-info" @click="getFiles"> Get list of all files</button>
        <button class="btn btn-dark" @click="getDirectories"> Get list of all directories</button>
        <table v-show="files" class="table table-striped my-4">
            <thead class="thead-dark">
            <tr>
                <th scope="col">PERMISSION</th>
                <th scope="col">OWNER</th>
                <th scope="col">GROUP</th>
                <th scope="col">SIZE</th>
                <th scope="col">DATE</th>
                <th scope="col">NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index)  in files">
                <th scope="row">{{ item.PERMISSION}}</th>
                <th scope="row">{{ item.OWNER}}</th>
                <th scope="row">{{ item.GROUP}}</th>
                <th scope="row">{{ item.SIZE}}</th>
                <th scope="row">{{ item.DATE}}</th>
                <th scope="row">{{ item.NAME}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                message: '',
                files: ''
            }
        },
        methods: {
            createFile() {
                axios.post('/api/files')
                    .then(response => {
                        this.message = response.data.message
                    })
                    .catch(error => {
                        console.log(error);
                        this.message = error
                    })
            },
            createDirectory() {
                axios.post('/api/directories')
                    .then(response => {
                        this.message = response.data.message
                    })
                    .catch(error => {
                        console.log(error);
                        this.message = error
                    })
            },
            getFiles() {
                axios.get('/api/files')
                    .then(response => {
                        this.files = response.data.files
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getDirectories() {
                axios.get('/api/directories')
                    .then(response => {
                        this.files = response.data.directories
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    }
</script>
