<template>
    <div class="flex items-center text-grey-darkest cursor-pointer hover:text-red">
        <!--        <div class="ml-2">{{ dataLikes }}</div>-->
        <!--        <div class="ml-2">{{ name }}</div>-->
        <button class="btn btn-secondary" @click="getProcesses"> Get list of running processes on the server</button>

        <table v-show="process" class="table table-striped my-4">
            <thead class="thead-dark">
            <tr>
                <th scope="col">USER</th>
                <th scope="col">PID</th>
                <th scope="col">CPU</th>
                <th scope="col">MEM</th>
                <th scope="col">VSZ</th>
                <th scope="col">RSS</th>
                <th scope="col">TTY</th>
                <th scope="col">STAT</th>
                <th scope="col">START</th>
                <th scope="col">TIME</th>
                <th scope="col">COMMAND</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index)  in process">
                <th scope="row">{{ item.USER}}</th>
                <th scope="row">{{ item.PID}}</th>
                <th scope="row">{{ item.CPU}}</th>
                <th scope="row">{{ item.MEM}}</th>
                <th scope="row">{{ item.VSZ}}</th>
                <th scope="row">{{ item.RSS}}</th>
                <th scope="row">{{ item.TTY}}</th>
                <th scope="row">{{ item.STAT}}</th>
                <th scope="row">{{ item.START}}</th>
                <th scope="row">{{ item.TIME}}</th>
                <th scope="row">{{ item.COMMAND}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['likes', 'tweetId'],
        data() {
            return {
                dataLikes: this.likes,
                name: '',
                process: ''
            }
        },
        methods: {
            handleClick() {
                axios.patch('/' + this.tweetId, {
                    likes: this.dataLikes + 1,
                })
                    .then(response => {
                        this.dataLikes++
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            getProcesses() {
                axios.get('/api/processes')
                    .then(response => {
                        this.process = response.data.processes
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        mounted() {
            axios.get('/api/users')
                .then(response => {
                    this.name = response.data.name;
                });
        }
    }
</script>
